<%- include('../partials/header') %>
    <h1><%= title %></h1>

    <!-- Form to add a new expense -->
    <form id="budget-new" action="/budgets/<%= budget._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input value="<%= budget.name %>" type="text" id="name" name="name" required>
        <br>
        <label for="amount">Amount:</label>
        <input value="<%= budget.amount %>" type="number" id="amount" name="amount" required>
        <br>
        <label for="category">Category:</label>
        <input value="<%= budget.category %>" type="text" id="category" name="category" required>
        <br>
        <button type="submit">Update</button>
    </form>
<%- include('../partials/footer') %>
